header{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 174.3px;
  min-height: 174.3px;
  background-color: none;
/*position: fixed;
z-index: 99;*/
}
header nav{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  background-color: #f3f4f8;
}
nav div.nav-profile{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #f3f4f8 ;


}
nav div.nav-profile h1{
  font-size: 80px;
  color: #95a5a6;
}
nav div.nav-logo{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;


}
nav div.nav-logo img{
  width:150px;
  height:150px;
}

nav div.nav-messege{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #f3f4f8 ;


}
nav div.nav-messege h1{
  font-size: 80px;
  color: #9b59b6;
}
