*{
  margin: 0;
  padding: 0;
}

.content{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.background {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.imagenBackground {
    width: 100%;
    height: 100%;
    filter: blur(19px);
}
.title{
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height:80%;
  text-align: center;

}

.title h1{
  text-align: center;
  font-size: 150px;
  color: rgba(255,255,255,0.4);
}

.contentIcon{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 300px;
  height: 381px;
}
.contentIcon {
	display: inline-block;
	color: red;
	animation: latidos 2.9s infinite;
	transform-origin: center;
}
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}

.contentIcon img{
  width: 312px;
  height: 312px;

}

/*.buton{
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 150px;
  height: 150px;
}*/

.animate{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button{
  text-align: center;
  justify-content: center;
	position: relative;
	padding: 10px 150px 10px 150px;
  top: 700px;
  right:  100%;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	color: #FFF;
	text-decoration: none;
}

.azul{
	background-color: #DF4723;
	border-bottom: 5px solid #DF4729;
	text-shadow: 0px -2px #DF4729;
}
.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
