*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'title';
  src: url('../font/Cabin-Bold.ttf');
}
@font-face {
  font-family: 'text';
  src: url('../font/Cabin-Regular.ttf');
}
@font-face {
  font-family: 'names';
  src: url('../font/Roboto-Light.ttf');
}
body{
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row  wrap;
  position: fixed;
}
header{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 174.3px;
  max-height: 174.3px;
  background-color: none;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
div.div-sent{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 164.3px;

  background-color: #222c34;
   /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}
div.mensaje-enviar{
  display: flex;
  flex-flow: row;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.buton-msj-enviar{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #222c34;
  border-left: 1px solid #34495e;
}
div.mensaje-enviar textarea{
   width: 700px;
   height: 100px;
   font-size: 45px;
   border-radius: 5px;
   color: #bdc3c7;
   font-family: 'text';

}
div.cuerpo-mensaje{
  width: 100%;
  height: 81vh;
  /*background-color: #bdc3c7;*/
  background-image:url("../assets/logo/fondoapp.png");
  background-size: cover;
}
div.buton-msj-enviar h1{
  font-size: 60px;
  color: #2ecc71;
}
header nav{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  background-color: #f3f4f8;
}

div.chat-bloque-icon{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
div.chat-bloque-icon div.cirlce{
  width: 48%;
  height: 55%;
  border-radius: 50%;
  border: 8px solid #3498db;
}
div.cirlce img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
div.chat-bloque-icon h1{
  font-size: 80px;
  color: #3498db;
}
div.chat-bloque-title{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
div.chat-bloque-title h1{
  font-size: 60px;
  font-family: 'title';
  color: #222c34;
  opacity: 0.5;
}

div.Cuerpo-chats{
  width: 100%;
  height: 100vh;
  background-color: #f3f4f8;
  display: flex;
  flex-flow: column;
  background-image:url("../assets/logo/fondoapp2.jpg");
  background-size: cover;
}

div.person-bloque{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 230px;
  background-color: none;
  border-bottom: 1px solid gray;
}

div.person-bloque-img{
  display: flex;
  flex-flow: row;
  width: 30%;
  height: 100%;
  background-color: none;
}
div.myImg{
  display: flex;
  flex-flow: row;
  width: 90%;
  height: 100%;
}
div.myImg img{
  width: 100%;
  height: 100%;
}
div.myColor{
  display: flex;
  flex-flow: row;
  width: 10%;
  height: 100%;
  background-color: #1abc9c;
}

div.person-bloque-info{
  display: flex;
  flex-flow: column;
  width: 70%;
  height: 100%;
  background-color: #ffffff;
}
div.person-bloque-info-name{
  display: flex;
  flex-flow: row;
  width: 50%;
  height: 100%;
}
div.container-name{
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
div.container-name h2{
  font-size: 50px;
    font-family: 'text';
    margin-top: 30px;
    opacity: 0.5;
}
div.container-age{
  height: 100%;
  width: 20%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
div.container-age h2{
  font-size: 50px;
    font-family: 'names';
    margin-top: 30px;
    margin-left: 10px;
    opacity: 0.5;
}
div.person-bloque-info-ciudad{
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
div.person-bloque-info-ciudad h2{
  font-size: 40px;
    font-family: 'names';
    margin-left: 30px;
    opacity: 0.5;
    margin-bottom: 60px;


}
div.owner{
  height: 70px;
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 50px;
}
div.owner p{
  font-size: 40px;
}

#difrenet{
  background-color: #9b59b6;
}

/*div.invitado{
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;


  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
}
div.invitado p {
font-family: 'text';
  margin-left: 30px;
}*/
article{
	display: flex;
	justify-content: flex-start;
	/*margin-bottom: 20px;*/
}
.msg{
	display: flex;
	justify-content: space-between;
  margin: 60px;
  /*height: 150px;*/

}
.msg .tri{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 15px 0;
	border-color: transparent #ffffff transparent transparent;
}

.msg_inner{
	background-color: #fff;
	width: 100%;
	padding: 15px 10px;
	border-radius: 0 4px 4px 4px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
	align-items: center;
  justify-content: flex-start;
}
.msg_inner p{
  font-family: 'text';
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.right{
	flex-direction: row-reverse;
}

.right .msg{
	flex-direction: row-reverse;
}

.right .msg .tri{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 10px 0 0;
	border-color: #3498db transparent transparent transparent;
}

.right .msg .msg_inner{
  background-color: #3498db;
	border-radius: 4px 0 4px 4px;
	box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
	text-align: right;
}
.right .msg_inner p{
  font-family: 'text';
  font-size: 50px;
  margin-right: 20px;
}

div.bloqueSeguro{
  position: absolute;
  top: 500px;
  left: 24%;
  display: none;
  flex-flow: column;
  height: 300px;
  width: 500px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: -1px 2px 11px -2px rgba(0,0,0,0.42);

}
div.bloqueSeguro-titulo{
  display: flex;
  flex-flow: row;
  height: 60%;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
div.bloqueSeguro-opt{
  display: flex;
  flex-flow: row;
  height: 40%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
div.bloqueSeguro-titulo h1{
  font-family: 'text';
  font-size: 35px;
  color: gray;
}
div.icon-block{
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
div.icon-block h1{
  font-family: 'text';
  font-size: 50px;
  color: #fff;
}
div#yeahh{
  background-color: #3498db;
}
div#nopiti{
  background-color: #9b59b6 ;
}
