*{
  margin: 0;
  padding: 0;
}

.contenedorEmergente{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}


.btna{
  width: 85%;
  right:  50px;
  height: 70px;
  border-radius: 25px;
  font-size: 30px;
  position: relative;
  background-color: #626CB7;
  color: #fff;
  outline: none;
border: 0px;
}

.modalClass{
  text-align: center;
  justify-content: center;
  align-content: center;
}


.convoyer .elements .element {
  margin: 0 5px; }*/
  .js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    max-width: 80%;
    font-size: 2.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 50px 20px;
    /* 10px 20px */
  }


  .no-js .inputfile + label {
    display: none;
  }


  .inputfile + label svg { /*//centra en icon svg*/
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
  }


  .inputfile-2 + label {
    color: rgba(0,0,0,0.2);
  }

  .inputfile-2:focus + label,
  .inputfile-2.has-focus + label,
  .inputfile-2 + label:hover {
    color:  rgba(0,0,0,0.2);
  }

  .inputfile-2 + label figure {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color:  rgba(0,0,0,0.3);
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
  }

  .inputfile-2:focus + label figure,
  .inputfile-2.has-focus + label figure,
  .inputfile-2 + label:hover figure {
    background-color:  rgba(0,0,0,0.2);
  }

  .inputfile-2:focus + label figure,
  .inputfile-2.has-focus + label figure,
  .inputfile-2 + label:active figure {
    background-color:  rgba(0,0,0,0.3);
  }

  .inputfile-2 + label svg {
    width: 100%;
    height: 100%;
    fill: rgba(255,255,255,0.3);
  }

  .js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    max-width: 80%;
    font-size: 3.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 70px 30px;
    /* 10px 20px */
  }


  .no-js .inputfile + label {
    display: none;
  }


  .inputfile + label svg { /*//centra en icon svg*/

    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
  }


  .inputfile-2 + label {
    color: rgba(0,0,0,0.5);
  }

  .inputfile-2:focus + label,
  .inputfile-2.has-focus + label,
  .inputfile-2 + label:hover {
    color:  rgba(0,0,0,0.3);
  }

  .inputfile-2 + label figure {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color:  rgba(0,0,0,0.5);
    display: block;
    padding: 20px;
    justify-content: center;
  }

  .inputfile-2:focus + label figure,
  .inputfile-2.has-focus + label figure,
  .inputfile-2 + label:hover figure {
    background-color:  rgba(0,0,0,0.2);
  }

  .inputfile-2:focus + label figure,
  .inputfile-2.has-focus + label figure,
  .inputfile-2 + label:active figure {
    background-color:  rgba(0,0,0,0.2);
  }

  .inputfile-2 + label svg {
    width: 100%;
    height: 100%;
    fill: rgba(255,255,255,0.6);
  }
